NODE_ENV=

# 소셜 로그인 (카카오)
NEXT_PUBLIC_KAKAO_CLIENT_ID=

NEXT_PUBLIC_BACKEND_API_URL=

# E2E 테스트 계정
E2E_TEACHER_EMAIL=
E2E_TEACHER_PASSWORD=
E2E_STUDENT_EMAIL=
E2E_STUDENT_PASSWORD=
E2E_TEST_STUDENT_NAME=
E2E_TEST_STUDY_ROOM_ID=

# Sentry
NEXT_PUBLIC_GLITCHTIP_DSN=

# Amplitude
NEXT_PUBLIC_AMPLITUDE_API_KEY=