name: CI

on:
  pull_request:
    branches:
      - develop

jobs:
  lint:
    name: Lint and Test
    runs-on: ubuntu-latest
    environment: development
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: '20'
          cache: 'npm'
      - name: Create env file (.env.test)
        run: |
          echo "NODE_ENV=development" >> .env.test
          echo "NEXT_PUBLIC_BASE_URL=${{ secrets.NEXT_PUBLIC_BASE_URL }}" >> .env.test
      - run: npm ci
      - run: npm run lint
      - run: npm run check-types
      - run: npm run test:ci

  build:
    name: Build
    runs-on: ubuntu-latest
    environment: development
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: '20'
          cache: 'npm'
      - name: Create env file (.env.test) for build
        run: |
          echo "NODE_ENV=development" >> .env.test
          echo "NEXT_PUBLIC_BASE_URL=${{ secrets.NEXT_PUBLIC_BASE_URL }}" >> .env.test
      - run: npm ci
      - run: npm run build
      - run: npm ci
      - run: npm run build